.titulo{
    text-decoration: none;
    display: inline;
}

h3{
    color: black;
    font-size: 50px;
    margin: 20px;
}

.navBar{
    background-color: #FAF6D2;
}


.carrito {
    width: 45px;
    margin-left: 1250px;
}






