@import url("https://fonts.googleapis.com/css2? family= Amiri+Quran & family= Architects+Daughter & family= Dancing+Script & family= IBM+Plex+Sans:wght@100 & family= Poppins:wght@200 & family= Satisfy & family= Smooch & display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCFAEA;
  font-family: "Amiri Quran", serif;
  margin-bottom: 25px;
}

